@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap");

body {
  /* background-color: #121212 !important; */
  background-color: white !important;
  font-family: "Rethink Sans", sans-serif !important;
}
.home-bg {
  background-image: url("/bg.svg");
  height: 100vh;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
}
.main-heading {
  font-size: 56px;
  color: white;
  margin-bottom: 16px;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}
.main-text {
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
}
.other-heading {
  font-size: 40px;
  color: white;
  margin-bottom: 16px;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}
.perspective {
  perspective: 1000px;
  width: 100%;
}
.choice-button {
  background-color: #cbff5d;
  border-radius: 35px;
  color: #121212;
  font-family: "Rethink Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.choice-button:hover {
  background-color: #739e17;
}
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}
.lottie-cover {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.letter-box {
  border: 1px solid #ececec;
  border-radius: 8px;
  padding: 16px;
  margin-top: 40px;
  z-index: 2;
}
.letter-heading {
  font-size: 24px;
  color: rgb(21, 21, 21);
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 400;
  text-align: left;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 1;
  z-index: 3;
}
.overlay-container {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}
.input-field {
  border: 1px solid #ececec;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 5px;
  transition: 0.3s;
}
.no-overlay {
  z-index: 1;
  opacity: 0;
  display: none;
}
@media (max-width: 450px) {
  .home-bg {
    padding-top: 70px;
  }
  .main-heading {
    font-size: 32px;
  }
  .other-heading {
    font-size: 24px;
    margin-top: 32px;
  }
}
